.navbar {
  background: linear-gradient(45deg, purple, blue);
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.navbar li {
  margin-right: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar button {
  color: #fff;
  background: purple;
  border: none;
  cursor: pointer;
}

.navbar button.logout {
  background: orange;
}

.navbar button:hover {
  text-decoration: underline;
}
.authenticate{
  max-width: 250px;
  margin: 10px auto;
}

.authenticate > form > div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}